DATABRICKS_SERVER_HOSTNAME=dbc-4910bda0-398c.cloud.databricks.com
DATABRICKS_HTTP_PATH=/sql/1.0/warehouses/2955439412092639
DATABRICKS_TOKEN=replace_me
DATABRICKS_CATALOG=main
DATABRICKS_SCHEMA=gold
DATABRICKS_TABLE=linz_title_search
DATABRICKS_SILVER_SCHEMA=silver
PORT=8080
